<!DOCTYPE html>

<html>
  

<h1>Books</h1>
<% @lists.each do |list| %>
  <h3>Title</h3>
  <span><%= list.title %></span>
  <h3>Body</h3>
  <span><%= list.body %></span>
<% end %>

<p><%= link_to 'show', '/todolists/id/show' %></p>
<P><%= link_to 'edit', '/todolists/id/edit' %></P>
<p><%= link_to 'destroy','/todolists/destroy', method: :delete %></p>

<h1>New book</h1>
<%= form_with model: @list, url:'/todolists', local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

</html>